/*
	HTML Starter Template - SEY CSS
	Original Source: https://github.com/AsisYu/html-starter-qwpicu.git
	License: Open Source
	Author: AsisYu
	Description: Additional styling and animation effects
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a:hover {
    border-radius: 25px;
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

span {
    position: relative;
    z-index: 1;
}

i {
    position: absolute;
    inset: 0;
    display: block;
}

i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    background: #27282c;
    transform: translateX(-50%);
    border: 2px solid var(--clr);
    transition: 0.5s;
}

a:hover i::before {
    width: 20px;
    left: 20%;
}

i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    background: #27282c;
    transform: translateX(-50%);
    border: 2px solid var(--clr);
    transition: 0.5s;
}

a:hover i::after {
    width: 20px;
    left: 80%;
}

/* 图片渐变出现 */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.panel-cover {
    /* 动画名称 | 持续时间 | 动画方式 */
    animation: fadeIn 3s ease-in-out forwards;
    width: 100%;
    height: 100vh;
}